* {
  font-size: 10;
}

.logo-container {
  display: flex;
  margin-bottom: 20px;
}

.logo-container-grouping {
  display: flex;
  margin: 20px 0 0 50px;
}

.grapes {
  height: 70px;
}

.company-name {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  position: relative;
  top: 10px;
}

.tag-line {
  color: white;
  font-size: 0.6rem;
  position: relative;
  left: 14px;
}
