.logo-container {
  display: flex;
  margin-bottom: 20px;
}

.logo-container-grouping {
  display: flex;
  margin: 30px 0 0 70px;
}

.portrait {
  height: 70px;
}

.name {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 0 0 10px;
  position: relative;
  top: 15px;
}

.tag-line {
  color: white;
  font-size: 0.7rem;
  position: relative;
  margin: 5px 0 0 0;
}

@media (max-width: 649px) {
  .logo-container {
    margin-left: -70px;
  }
}

@media (min-width: 650px) and (max-width: 1249px) {
  .logo-container {
    margin-left: -70px;
  }
}
