.table-responsive {
  height: 90vh;
  overflow: scroll;
  margin-top: 10px;
}

.table {
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
}

thead tr th {
  background-color: rgb(62, 55, 66);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
}

th {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.table-body {
  margin-bottom: 50px;
}

.shrunken-text {
  font-size: 0.7rem;
}
