.table {
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  height: 86vh;
}

th {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.table-body {
  margin-bottom: 50px;
}

.shrunken-text {
  font-size: 0.7rem;
}
